

  <!-- MENU ENCABEZADO -->
  <div class="contenedor-header">
    <header>
        <div class="logo">
            <a href="#">Nick</a>
        </div>
        <nav id="nav">
            <ul>
                <li><a href="#inicio" onclick="seleccionar()">INICIO</a></li>
                <li><a href="#sobremi" onclick="seleccionar()">SOBRE MI</a></li>
                <li><a href="#skills" onclick="seleccionar()">SKILLS</a></li>
                <li><a href="#curriculum" onclick="seleccionar()">CURRICULUM</a></li>
                <li><a href="#portfolio" onclick="seleccionar()">PORTFOLIO</a></li>
                <li><a href="#contacto" onclick="seleccionar()">CONTACTO</a></li>
            </ul>
        </nav>
        <div class="nav-responsive" onclick="mostrarOcultarMenu()">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
</div>

<app-banner appResponsive></app-banner>
<app-personal-information appResponsive></app-personal-information>
<div class="container">
    <app-education appResponsive></app-education>
    <app-work-experience appResponsive></app-work-experience>
</div>
<app-skills appResponsive></app-skills>
<app-projects appResponsive></app-projects>
<app-contact appResponsive></app-contact>